@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#FFF" />
	<meta name="apple-mobile-web-app-title" content="@{config.name}" />
	<link rel="apple-touch-icon" href="/img/icon.png" />
	<link rel="stylesheet" href="/ionic/css/ionicons.min.css">
	@{import('head', 'meta', 'spa.min@18.js', 'spa.min@18.css', 'default_ui.css','chat.css','style.css', 'manifest')}
</head>
<body data---="exec">
	<div data---="animation__null__style:5;together:true;">

	<div data---="splashscreen__null__timeout:10000" class="ui-splashscreen">
        <script type="text/html">
			<div><i  class="fa fa-comment-dots splash"></i></div>
           <h1>$endMe</h1>
        </script>
    </div>
	<div data---="serviceworker__common.version__datasource:common.serviceversion"></div>
	<div class="container">
		<div class="dropdown_menu">
			<div class="dropdown_item">New Group</div>
			<div class="dropdown_item">New broadcast</div>
			<div class="dropdown_item">Whatsapp Web</div>
			<div class="dropdown_item">Starred Messages</div>
			<div class="dropdown_item">Settings</div>
		</div>
		<div class="back_trigger hidden"> <i class="fa fa-arrow-left" ></i> </div>
		<input type="text" class="search_bar hidden">
		<div class="lightbox">
			<div class="lightbox_container animation">
				<div class="lightbox_name"></div>

				<div class="lightbox_image">
					<img src="" alt="Bugatti car">
				</div>
				<div class="lightbox_controls">
					<div class="one_control"><i class="ion ion-ios-chatbubble-outline"></i></div>
					<div class="one_control"><i class="ion ion-ios-videocam-outline  lightbox_icon" ></i></div>
					<div class="one_control"><i class="ion ion-ios-telephone-outline  lightbox_icon" ></i></div>
					<div class="one_control"><i class="ion ion-ios-information-outline" ></i></div>
				</div>
			</div>
		</div>
        <div class="title_bar animation">
            <div class="title_top">
                
            </div>
			<div class="toptab_bar">
			<div class="back_button animation"> <i class="ion ion-ios-arrow-left" ></i> </div>

			
				<div class="current_container">
					<div class="tab_title" data-bind="common.current_tab__text"></div>
					<div data-bind="common.current_chat__template" class="avatar_container exec" data-exec="lightbox">
						<script type="text/html">
							<div class="image_container">
								<img src="{{ value.img }}">
							</div>
							<a class="content_container">
										<p class="user_name"> <name class="avatar_name">{{ value.username }}</name> </p>
										<p class="user_name"> <name  class="avatar_status">{{ value.status }}</name> </p>
							</a>
						</script>
					</div>
				</div>
				
				<div style="color:white;" class="icon_container">
						<i class="ion ion-ios-videocam-outline hidden"></i>
						<i class="ion ion-ios-telephone-outline hidden"></i>
						<i class="ion ion-ios-search"></i>
						<i class="ion ion-ios-more"></i>
				</div>
			</div>
        </div>
		<div class="body_section hidden">
			<div style="width: 100%;"  data---="page__common.page__if:messages;url:/parts/messages.html;reload:messages/reload"></div>
		</div>
		<div data---="page__common.page__if:camera;url:/parts/camera.html;reload:camera/reload"></div>
		<div class="messages_section">
			<div style="width: 100%;" data---="page__common.page__if:chats;url:/parts/chats.html;reload:chats/reload"></div>
			<div data---="page__common.page__if:groups;url:/parts/groups.html;reload:groups/reload"></div>
			<div data---="page__common.page__if:stories;url:/parts/stories.html;reload:stories/reload"></div>
			<div data---="page__common.page__if:calls;url:/parts/calls.html;reload:calls/reload"></div>
		</div>
		<div  class="android_controls animation">
			<div class="botomtab_menu">
				<a href="/camera" class="R"><div class="single_tab "><i style="font-size: 40px;" class="ion ion-ios-camera-outline"></i> <span>Camera</span></div></a>
				<a href="/chats" class="R"><div class="single_tab"><i style="font-size: 33px;" class="ion ion-ios-chatboxes-outline"></i> <span>Chats</span> </div></a>
				<a href="/groups" class="R"><div class="single_tab "><i style="font-size: 42px;" class="ion ion-ios-people-outline"></i> <span>Groups</span> </div></a>
				<a href="/stories" class="R"><div class="single_tab "><i style="font-size: 32px;" class="ion ion-ios-ionic-outline"></i> <span>Status</span></div></a>
				<a href="/calls" class="R"><div class="single_tab "><i style="font-size: 40px;" class="ion ion-ios-telephone-outline tab_phone"></i>Calls</div></a>
			
		</div>
	</div>
	<script>
		NAV.clientside('.R');
		var common = {};
		common.page = 'chats';
		common.current_tab = 'Chats';
		common.messages = [];
		common.current_chat = {};
		common.chats = [];
		common.volume = 80;
		common.chat_list = [
			];
			
			function clear_current(){
				SET('common.current_chat',{});
		}
		function fetch_chats(next){

            AJAX('GET /api/chats/',function(res){
                SET('common.chats',res);

				if(!next){
					return;
				}
				next();
            });
		}
		function active(cls){
			$('.fa-camera').parent().removeClass('active');
			$('.fa-users').parent().removeClass('active');
			$('.fa-circle-notch').parent().removeClass('active');
			$('.fa-comments-dot').parent().removeClass('active');
			$(cls).parent().removeClass('active');
			$('.fa-phone').parent().removeClass('active');
			$(cls).addClass('active');
		}
	
		$('.ion-ios-search').show();
		function title(txt){

           SET('common.current_tab',txt);
		}
		MIDDLEWARE('current_chat',function(next){

			SET('common.current_tab','');
			$('.ion-ios-telephone-outline').removeClass('hidden');
			$('.ion-ios-videocam-outline').removeClass('hidden');
			$('.body_section').removeClass('hidden');
			$('.ion-ios-search').hide();
			var md = this;
			var arr = md.href.split('/');
			var id = arr[2]+'';
			var chats = GET('common.chats');
			var element = chats.findItem('unique',id);
			if(!element){
				fetch_chats(next);
			}
			var current = {};
			
			current.img = element.img;
			current.username = element.username; 
			SET('common.current_chat',{});
			SET('common.current_chat',current);
			next();
			
		});
		
		function hider(){
			
			$('.title_bar').css('margin-top', '-75px');
			$('.back_button').css('display','flex');
		
			$('.android_controls').css('display','none');
			$('.messages_section').css('display','none');
		};
		function displayer(){
			$('.title_bar').css('margin-top', '-75px');
			$('.back_button').css('display','none');
		
			$('.android_controls').css('display','flex');
			$('.messages_section').css('display','flex');
		};
		function hide_icons(){
			$('.ion-ios-telephone-outline').addClass('hidden');
			$('.ion-ios-videocam-outline').addClass('hidden');
			$('.tab_phone').removeClass('hidden');
		}
		ROUTE('/chats/{ unique }/',function(){	
				hider();
				SET('common.page','messages');
		},'current_chat');
		ROUTE('/camera',function(){	
			active('.fa-camera');
			title('Camera');
			clear_current();
			hide_icons();
			SET('common.page','camera');
		});
		ROUTE('/groups',function(){	
			active('.fa-users');
			title('Groups');
			clear_current();
			hide_icons();

			SET('common.page','groups');
		});
		ROUTE('/stories',function(){	
			active('.fa-circle-notch');
			title('Stories');
			clear_current();
			hide_icons();

			SET('common.page','stories');
		});
		ROUTE('/chats',function(){	
			active('.fa-comments-dot');
			title('Chats');
			displayer();
			clear_current();
			SET('common.page','chats');
		});
		ROUTE('/calls',function(){	
			hide_icons();
			active('.fa-phone');
			title('Calls');
			clear_current();
			SET('common.page','calls');
		});
		$('.lightbox').click(function(e){
		
			var q = $(this);
			if($(e.target).attr('class') == 'lightbox'){
				 q.animate({opacity : 0.5},200);
				 $('.lightbox_container').hide('slow');
				 $('.lightbox_image img').attr('src','');
				 var id = setTimeout(function(){
					q.css('display','none');
				 },200);
			}
		});
	</script>
	<script src="/js/default_ui.js"></script>
	</div>

</body>
</html>

