@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#FFF" />
	<meta name="apple-mobile-web-app-title" content="@{config.name}" />
	<link rel="apple-touch-icon" href="/img/icon.png" />
	
	@{import('head', 'meta', 'spa.min@18.js', 'spa.min@18.css', 'ui.js','default_ui.js', 'default_ui.css', 'manifest')}
</head>
<body>
	<div data---="serviceworker__common.version__datasource:common.serviceversion"></div>
	<div class="container">
		<div class="dropdown_menu">
			<div class="dropdown_item">New Group</div>
			<div class="dropdown_item">New broadcast</div>
			<div class="dropdown_item">Whatsapp Web</div>
			<div class="dropdown_item">Starred Messages</div>
			<div class="dropdown_item">Settings</div>
		</div>
		<div class="back_trigger"> <i class="fa fa-arrow-left" ></i> </div>
		<input type="text" class="search_bar">
		<div class="lightbox">
			<div class="lightbox_container">
				<div class="lightbox_name">Louis Bertson</div>

				<div class="lightbox_image">
					<img src="/img/profiles/bugatti.jpg" alt="Bugatti car">
				</div>
				<div class="lightbox_controls">
					<div class="one_control"><i class="fa fa-comment-dots" ></i></div>
					<div class="one_control"><i class="fa fa-phone" ></i></div>
					<div class="one_control"><i class="fa fa-video" ></i></div>
					<div class="one_control"><i class="fa fa-info" ></i></div>
				</div>
			</div>
		</div>
        <div class="title_bar">
            <div class="title_top">
                <div class="title_container">
                    <p>Whatsapp</p>
                </div>
				<div class="icon_container">
					<div>
						<i class="fa fa-search"></i>
						<i class="fa fa-ellipsis-v"></i>
					</div>
				</div>
            </div>
			<div class="toptab_menu">
				<div class="single_tab"><i class="fa fa-circle-notch"></i>Status</div>
				<div class="single_tab"><i class="fa fa-phone"></i>Calls</div>
			</div>
        </div>
		<div  data---="repeater__common.chats" class="messages_section">
				<script type="text/html">
					<div data-id="{{ id }}" class="single_chat">
						<div class="image_container">
							<img src="{{ img }}">
							</div>
						<div class="content_container">
							<div class="content_container_inner">
								<p class="user_name"> <name>{{ username }}</name> <span> {{ last_update }}</span> </p>
								<p class="chat_content">{{ last_message }}<span>{{ message_count }}</span> </p>
					   </div>
						</div>
					</div>
				</script>
		</div> 

		<div  class="android_controls">
			<div class="botomtab_menu">
				<div class="single_tab "><i class="fa fa-camera"></i>Camera</div>
				<div class="single_tab "><i class="fa fa-comment-dots"></i>Chats</div>
				<div class="single_tab"><i class="fa fa-users"></i>Groups</div>
				<div class="single_tab"><i class="fa fa-circle-notch"></i>Status</div>
				<div class="single_tab"><i class="fa fa-phone"></i>Calls</div>
			</div>
		</div>
	</div>
	<script>
		var common = {};
		common.messages = [];
		common.chats = [];
		common.volume = 80;
		function sendMessage(){
			this.preventDefault();
		}
		common.messages.push({ "id": 1 , "author": "Agape Raston", "body":"Hi Louis","timestamp":"24 Nov 2021","incoming" : false});
		common.messages.push({ "id": 2 , "author": "Agape Raston", "body":"How are you?","timestamp":"24 Nov 2021","incoming" : false});
		common.messages.push({ "id": 3 , "author": "Louis Bertson", "body":"I am Good, how about you?","timestamp":"24 Nov 2021","incoming" : true});
		common.messages.push({ "id": 4 , "author": "Agape Raston", "body":"I'm good my friend","timestamp":"24 Nov 2021","incoming" : false});
		common.messages.push({ "id": 5 , "author": "Louis Bertson", "body":"Okey fine. tell me","timestamp":"24 Nov 2021","incoming" : true});
		common.messages.push({ "id": 6 , "author": "Agape Raston", "body":"i miss you. where are you?","timestamp":"24 Nov 2021","incoming" : false});
		common.messages.push({ "id": 7 , "author": "Louis Bertson", "body":'Ohh i miss you too.',"timestamp":"24 Nov 2021","incoming" : true});
		common.messages.push({ "id": 8 , "author": "Louis Bertson", "body":"I'm at home, i will come don't worry","timestamp":"24 Nov 2021","incoming" : true});
		common.messages.push({ "id": 9 , "author": "Agape Raston", "body":"Okay my friend","timestamp":"24 Nov 2021","incoming" : false});
		common.messages.push({ "id": 10 , "author": "Louis Bertson", "body":"okay fine","timestamp":"24 Nov 2021","incoming" : true});
		common.messages.push({ "id": 11 , "author": "Louis Bertson", "body":"have a nice day","timestamp":"24 Nov 2021","incoming" : true});
		common.messages.push({ "id": 12 , "author": "Agape Raston", "body":"thanks alot, same to you","timestamp":"24 Nov 2021","incoming" : false});
		common.messages.push({ "id": 13 , "author": "Louis Bertson", "body":"thanks","timestamp":"24 Nov 2021","incoming" : true});
		common.chats.push({ id: 1 , img: '/img/profiles/agape.jpg',message_count:'3',last_updat:'12:09 PM',last_message: 'I have understand you...', username: 'Agape Raston'});
		common.chats.push({ id: 2 , img: '/img/profiles/chris.jpg',message_count:'2',last_updat:'02:09 AM',last_message: 'Where is your Bugatti????', username: 'Kinda Christian'});
		common.chats.push({ id: 3 , img: '/img/profiles/maman.jpg',message_count:'5',last_updat:'05:09 AM',last_message: 'Du courage...', username: 'Dear Maman'});
		common.chats.push({ id: 6 , img: '/img/profiles/peter.jpg',message_count:'1',last_updat:'06:09 AM',last_message: 'It depends on you', username: 'Peter Sirka'});
		common.chats.push({ id: 8 , img: '/img/profiles/elon.jpg',message_count:'6',last_updat:'Yesterday',last_message: 'That 6 months can change your life...', username: 'Elon Musk'});
		common.chats.push({ id: 7 , img: '/img/profiles/sonny.jpg',message_count:'8',last_updat:'Monday',last_message: 'Reveille le lion qui dors en toi...', username: 'Sonny Court'});
		common.chats.push({ id: 4 , img: '/img/profiles/edith.jpg',message_count:'9',last_updat:'Last Week',last_message: 'Ce n\'est pas un probleme', username: 'Edith'});
		common.chats.push({ id: 5 , img: '/img/profiles/bro.jpg',message_count:'5',last_updat:'Last Month',last_message: 'Tu es au bureau?', username: 'Blood brother'});
	
	$('document').ready(function(){
		(function(){
			var previousScroll = 0;
	
			$('.messages_section').scroll(function(){
				var currentScroll = $('.messages_section').scrollTop();
				if(currentScroll > previousScroll){
					if(currentScroll > 0 && currentScroll <= 90){
						$('.title_bar').css('margin-top', '-'+currentScroll+'px');
					}else{
						$('.title_bar').css('margin-top', '-75px');
					}
				}else{
					if( currentScroll <= 90){
						$('.title_bar').css('margin-top', '-'+currentScroll+'px');
					}else{
						$('.title_bar').css('margin-top', '-75px');
					}
				}
	
				previousScroll = currentScroll;
			});
	
		})();


		$('.icon_container div i:nth-child(2)').click(function(){	
			
			$('.dropdown_menu').animate({width : '300px', height : 'auto',opacity :1 },200);
		});

		//
		// CODE TO BRING OUT UP THE IMAGE LIGHTBOX
		//
		$('.image_container').click(function(){
			var image = $(this).children('img').attr('src');
			var name = $(this).parent().find('.user_name name').text(); 
			$('.lightbox_name').text(name);
			$('.lightbox_image img').attr('src',image);
			$('.lightbox').css('display','flex');
			$('.lightbox').animate({opacity : 1},200);
			$('.lightbox_container').show();
		});
		//hide lightbox
		$('.lightbox').click(function(e){
			console.log('clicked');
			var q = $(this);
			if($(e.target).attr('class') == 'lightbox'){
				 q.animate({opacity : 0},200);
				 $('.lightbox_container').hide('slow');
				 $('.lightbox_image img').attr('src','');

				 setTimeout(function(){
					q.css('display','none');
				 },200);
			}
		});
		// On the change of the search bar input


		// Code to make search bar work
	
	   
		$('.icon_container div i:nth-child(1)').click(function(){	
			$('.search_bar').css('display','block');
			$('.back_trigger').css('display','block');
			$('.search_bar').animate({opacity : 1 , width : '100%'},200);
			$('.title_bar').animate({marginTop : '-75px'},200);
			$('.search_bar').focus();
		});
		
		$('body').on('change, keyup','.search_bar',function(){
			var thisValue = $(this).val().toLowerCase();
			var thisLength = $(this).val().length;
			$('.single_chat').each(	function () {
				var thisChat = $(this);
				var username  = $(this).find('.user_name name').text().toLowerCase();
				if(username.indexOf(thisValue) < 0){
					thisChat.hide();
				}else{
					thisChat.show();
				}
			  });
		 });
		 $('.back_trigger').click(function(){
			$('.search_bar').val('');
			$('.search_bar').keyup();
			$('.search_bar').animate({opacity : 0},200);
			$('.title_bar').animate({marginTop : '0px'},200);
			$('.back_trigger').css('display','none');
			setTimeout(function(){
				$('.search_bar').css('display','none');
			},600);
		});
		$('*').click(function(e){
			if($(e.target).width() > 100){
				if($(e.target).attr('class') != 'dropdown_menu' || $(e.target).attr('class') !== 'dropdown_item'){
			
					$('.dropdown_menu').animate({width : '0px', height : 'auto',opacity :0 },200);
	
				}
			}
			
		})

	});

	</script>
</body>
</html>

