@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#FFF" />
	<meta name="apple-mobile-web-app-title" content="@{config.name}" />
	<link rel="apple-touch-icon" href="/img/icon.png" />
	@{import('head', 'meta', 'spa.min@18.js', 'spa.min@18.css', 'default_ui.css','chat.css', 'manifest')}
</head>
<body data---="exec">
	<div data---="animation__null__style:5;together:true;">

	<div data---="splashscreen__null__timeout:10000" class="ui-splashscreen">
        <script type="text/html">
			<div><i  class="fa fa-comment-dots splash"></i></div>
           <h1>$endMe</h1>
        </script>
    </div>
	<div data---="serviceworker__common.version__datasource:common.serviceversion"></div>
	<div class="container">
		<div class="dropdown_menu">
			<div class="dropdown_item">New Group</div>
			<div class="dropdown_item">New broadcast</div>
			<div class="dropdown_item">Whatsapp Web</div>
			<div class="dropdown_item">Starred Messages</div>
			<div class="dropdown_item">Settings</div>
		</div>
		<div class="back_trigger"> <i class="fa fa-arrow-left" ></i> </div>
		<input type="text" class="search_bar">
		<div class="lightbox">
			<div class="lightbox_container animation">
				<div class="lightbox_name">Louis Bertson</div>

				<div class="lightbox_image">
					<img src="/img/profiles/bugatti.jpg" alt="Bugatti car">
				</div>
				<div class="lightbox_controls">
					<div class="one_control"><i class="fa fa-comment-dots" ></i></div>
					<div class="one_control"><i class="fa fa-phone" ></i></div>
					<div class="one_control"><i class="fa fa-video" ></i></div>
					<div class="one_control"><i class="fa fa-info" ></i></div>
				</div>
			</div>
		</div>
        <div class="title_bar animation">
            <div class="title_top">
                <div class="title_container">
                    <p>Whatsapp</p>
                </div>
				<div class="icon_container">
					<div>
						<i class="fa fa-search"></i>
						<i class="fa fa-ellipsis-v"></i>
					</div>
				</div>
            </div>
			<div class="toptab_bar">
			<div class="back_button animation"> <i class="fa fa-arrow-left" ></i> </div>

				<div data-bind="common.current_chat__template" class="avatar_container exec" data-exec="lightbox">
					<script type="text/html">
						<div class="image_container">
							<img src="{{ value.img }}">
						</div>
						<a class="content_container">
									<p class="user_name"> <name class="avatar_name">{{ value.username }}</name> </p>
						</a>
					</script>
					
                </div>
				<div class="title_container ">
                    <p class="tab_title">Chats</p>
                </div>	
				<div class="toptab_menu animation">  
					<div>
						<i class="fa fa-search"></i>
						<i class="fa fa-ellipsis-v"></i>
					</div>
				</div>
			</div>
        </div>
		<div data---="page__common.page__if:camera;url:/parts/camera.html;reload:camera/reload"></div>
		
		<div data---="page__common.page__if:messages;url:/parts/messages.html;reload:messages/reload"></div>
		<div class="messages_section">
			<div data---="page__common.page__if:chats;url:/parts/chats.html;reload:chats/reload"></div>
			<div data---="page__common.page__if:groups;url:/parts/groups.html;reload:groups/reload"></div>
			<div data---="page__common.page__if:stories;url:/parts/stories.html;reload:stories/reload"></div>
			<div data---="page__common.page__if:calls;url:/parts/calls.html;reload:calls/reload"></div>
		</div>
		<div  class="android_controls animation">
			<div class="botomtab_menu">
				<a href="/camera" class="R"><div class="single_tab "><i class="fa fa-camera"></i>Camera</div></a>
				<a href="/chats" class="R"><div class="single_tab"><i class="fa fa-comment-dots"></i>Chats</div></a>
				<a href="/groups" class="R"><div class="single_tab "><i class="fa fa-users"></i>Groups</div></a>
				<a href="/stories" class="R"><div class="single_tab "><i class="fa fa-circle-notch"></i>Status</div></a>
				<a href="/calls" class="R"><div class="single_tab "><i class="fa fa-phone"></i>Calls</div></a>
			
		</div>
	</div>
	<script>
		NAV.clientside('.R');
		var common = {};
		common.page = 'chats';
		common.messages = [];
		common.current_chat = {};
		common.chats = [];
		common.volume = 80;
		common.chat_list = [
			];
			
			function clear_current(){
				SET('common.current_chat',{});
		}
		function fetch_chats(next){

			console.log('fetching user chats');
            AJAX('GET /api/chats/',function(res){
                SET('common.chats',res);

				if(!next){
					return;
				}
				next();
            });
		}
		function active(cls){
			console.log('Cool classe active function',$(cls));
			$('.fa-camera').parent().removeClass('active');
			$('.fa-users').parent().removeClass('active');
			$('.fa-circle-notch').parent().removeClass('active');
			$('.fa-comments-dot').parent().removeClass('active');
			$(cls).parent().removeClass('active');
			$('.fa-phone').parent().removeClass('active');
			$(cls).addClass('active');
		}
		function title(txt){

            $('.tab_title').text(txt);
            $('.tab_title').show();
		}
		MIDDLEWARE('current_chat',function(next){

            $('.tab_title').text('');
            $('.tab_title').hide();
			var md = this;
			var arr = md.href.split('/');
			var id = arr[2]+'';
			var chats = GET('common.chats');
			var element = chats.findItem('unique',id);
			if(!element){
				fetch_chats(next);
			}
           	console.log('chats list',chats);
			console.log(element);
			var current = {};
			
			current.img = element.img;
			current.username = element.username; 
			SET('common.current_chat',{});
			SET('common.current_chat',current);
			next();
			
		});
		function hider(){
			$('.title_bar').css('margin-top', '-75px');
			$('.back_button').css('display','flex');
		
			$('.android_controls').css('display','none');
			$('.messages_section').css('display','none');
		};
		function displayer(){
			$('.title_bar').css('margin-top', '-75px');
			$('.back_button').css('display','none');
		
			$('.android_controls').css('display','flex');
			$('.messages_section').css('display','flex');
		};
		ROUTE('/chats/{ unique }/',function(){	
				hider();
				SET('common.page','messages');
		},'current_chat');
		ROUTE('/camera',function(){	
			active('.fa-camera');
			title('Camera');
			clear_current();
			SET('common.page','camera');
		});
		ROUTE('/groups',function(){	
			active('.fa-users');
			title('Groups');
			clear_current();
			SET('common.page','groups');
		});
		ROUTE('/stories',function(){	
			active('.fa-circle-notch');
			title('Stories');
			clear_current();
			SET('common.page','stories');
		});
		ROUTE('/chats',function(){	
			active('.fa-comments-dot');
			title('Chats');
			displayer();
			clear_current();
			SET('common.page','chats');
		});
		ROUTE('/calls',function(){	
			active('.fa-phone');
			title('Calls');
			clear_current();
			SET('common.page','calls');
		});
		
	</script>
	<script src="/js/default_ui.js"></script>
	</div>

</body>
</html>

