.chat{
    display: flex;
    flex-direction: column;
    flex: 0.65  ; 
}
.chat_header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 5px;
    border-bottom: 1px solid lightgrey;
}
.chat_header{border-bottom: 1px solid lightgrey;}
.chat_headerAvatar {
border:0.5px solid #fff;}
.chat_headerAvatar {
    width: 50px;
    height: 50px;   
    border:0.5px solid #fff;
    border-radius: 100%;
    overflow: hidden;
}
.chat_headerAvatar img {
    width: 100%;
    height: 100%;
}
.chat_headerInfo{
    flex: 1;
    padding-left: 20px;
}

.chat_footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 62px;
    position:absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgrey;
    background-color: blueviolet;
    padding: 4px 10px 4px 10px;
}
.chat_footer > form {flex:1; display: flex; margin-right: 5px;}
.chat_footer > form  > input{ font-family: "Helvetica Heue Light"; flex:1; display: flex; padding:10px;border : none; border-radius: 30px;}
.chat_footer > form  > input:focus {border: none;border:0px solid transparent;}
.chat_footer > form  > button {display: none}
.chat_footer > form > .ion { color: white;}
.chat_footer > .ion {color: white;cursor :pointer;font-size: 35px;}

.ui-splashscreen{
    background-color: blueviolet!important;
    color: white!important;
    margin: -3px;
}


.splash{
    font-size: 50px!important;
}