.chat{
    display: flex;
    flex-direction: column;
    flex: 0.65  ; 
}
.chat_header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 5px;
    border-bottom: 1px solid lightgrey;
}
.chat_headerAvatar {
    width: 50px;
    height: 50px;   
    border:0.5px solid #fff;
    border-radius: 100%;
    overflow: hidden;
}
.chat_headerAvatar img {
    width: 100%;
    height: 100%;

}
.chat_headerInfo{
    flex: 1;
    padding-left: 20px;
}

.chat_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgrey;
}
.chat_footer > form {flex:1; display: flex;}
.chat_footer > form  > input{flex:1; display: flex; padding:10px;border : none; border-radius: 30px;}
.chat_footer > form  > input:focus {border: none;border:0px solid transparent;}
.chat_footer > form  > button {display: none}
.chat_footer > .fa {padding: 10px; color: blueviolet;}