*{
    margin: 0;
    padding : 0;
    list-style: none;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
body{
    background-image: url('/img/profiles/bugatti.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
}
@font-face {
    font-family: Helvetica Neue Light;
    src: url('/fonts/HelveticaNeueLight.ttf');
}
@font-face {
    font-family: Helvetica Neue;
    src: url('/fonts/HelveticaNeue.ttf');
}
@font-face {
    font-family: Helvetica Neue Medium;
    src: url('/fonts/HelveticaNeueMedium.ttf');
}
@font-face {
    font-family: Helvetica Neue Bold;
    src: url('/fonts/HelveticaNeueBold.ttf');
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: blueviolet;
    overflow: hidden;
    margin: 0;
    position: relative;
    padding: 0px;
}

.title_bar{
    background-color: blueviolet;
    width: 100%;
    height: 150px;

}
.title_top{
    overflow: hidden;
    width: 100%;
    display: block;
    
    margin: 0 auto; 
    height: 90px;
}
.botomtab_menu{
    width: 100%;
    overflow: hidden;
    height: 60px;
  

}
.toptab_menu{
    width: 100%;
    overflow: hidden;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    

}
.title_container{
    font-family:'Helvetica Neue Light' ;
    color : white;
    letter-spacing: 2px;
    font-weight: 600;    
    font-size: 26px;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    float: left;
}

.single_tab{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing : border-box;
    float: left;
    font-family: 'Helvetica Neue Medium';
    letter-spacing: 1.3px;
    font-weight: 600;
    font-size: 12px;
    border-bottom: solid 3px transparent;
    color: white
}       
.single_tab:hover, .active{
    color: white;
    border-color: white;
    cursor:pointer;
}

.fa {
    cursor :pointer;
    font-size: 24px;
    color: white;
}

.title_container p{
    font-family: 'Helvetica Neue Light';
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    padding-left: 23px;
}
.icon_container{
    width: 30px;
    float: right;
    height: 100%;
}

.icon_container div{
    display: flex;
    height: 100%;
    width: 100px;
    align-items: center;
    justify-content: center;
    float: right;

}

.icon_container div i{
    width: 30px;
    height: 30px;
    padding: 18px;
}

.messages_section{
    width: 100%;
    height: calc(100% - 120px);
    box-sizing: border-box;
    padding-bottom: 49px;
    background-color: white;
    overflow: scroll;
    border-radius: 30px;
}
.messages_section a{
    text-decoration: none;
    text-transform: none;
    color: black;
}

.single_chat{
    width: 100%;
    height: 80px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 30px;
    background-color: white;
}

.single_chat:hover{
    cursor: pointer;
    background-color: rgba(165,165,165,0.2);
}

.single_chat:after{
    width: 50%;
    height: 1px;
    content: "";
    background-color: white;
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
    bottom:0;
}

.image_container{
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.image_container img{
    height: 90%;
    border-radius: 999px;
}

.content_container{
    width: calc(100% - 80px);
    display: flex;
    align-items: center;
    height: 100%;
}

.content_container_inner{
    height: auto;
    float: left;
    margin-left: 20px;
    box-sizing: border-box;
    width: 100%;
    }

.user_name{
    font-family: 'Helvetica Neue Bold';
    color: blueviolet;
    font-size: 12px;
    width: 100%;
    display: block;
    letter-spacing: 1.1px;
}
.chat_content{
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    height: 40px;
    font-size: 12px;
    line-height: 22px;
    font-family: 'Helvetica Neue Bold';
}
.chat_content span{
    background-color: #00d260;
    float: right;
    border-radius: 999px;
    padding: 5px;
    box-sizing: border-box;
    width: 30px;
    overflow: hidden;
    height: 30px;
    text-align: center;
    color: white;
    font-family: "Helvetica Neue Bold";
    font-size: 12px;
    vertical-align: -3px;
    line-height: 19px;
}
.user_name span, .read{
    color: #00d260;
    font-family : 'Helvetica Neue Medium';
    font-size: 12px;
    float: right;
}


.read{
    color: rgba(165,165,165,0.8)!important;

}

.android_controls{
    width: 100%;
    height: 70px;
   
    background-color: blueviolet;

}

.controls_inner{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: block;

}

.controls_inner div{
    width: 33.3333333%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.controls_inner div i{
    font-size: 30px;
}

.lightbox{
    width: 100vw;
    height: 100vh;
    z-index: 99999999999999;
    opacity: 1;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(16,16,16,0.6);
    display: none;
}
.lightbox_container{
    width: 60vw;
    height: 70vh;
    background-color:white;
    position: relative;
    display: block;
}

.lightbox_name{
    width: 100%;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    letter-spacing: 1.1px;
    left: 0;
    padding: 7px 7px;
    font-family: 'Helvetica Neue Light';
    font-size: 22px;
    color: white;
    background-color: rgba(16,16,16,0.5);
}

.lightbox_image{
    width: 100%;
    height: 80%;
}
.lightbox_image img{
    width: 100%;
    height: 100%;
}

@media (max-width:900px) {
    .lightbox_container{
        width: 80vw;
        height: 50vh;
        background-color:white;
        position: relative;
        display: block;
    }
}

@media (max-width:700px) {
    .lightbox_container{
        width: 80vw;
        height: 60vh;
        background-color:white;
        position: relative;
        display: block;
    }
}
@media (max-width:500px) {
    .lightbox_container{
        width: 80vw;
        height: 50vh;
        background-color:white;
        position: relative;
        display: block;
    }
}

.lightbox_controls{
    width: 100%;
    height: 20%;
    background-color: white;
}
.one_control{
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one_control i{
    color: blueviolet;
}


.search_bar{
    width: 100%;
    position: absolute;
    height: 60px;
    box-shadow: -1px -10px 13px 10px #101010;
    border: none;
    font-family: 'Helvetica Neue Light';
    font-size: 24px;
    color: #101010;
    text-decoration: underline;
    padding: 0px 10px 0px 70px;
    opacity: 0;
    
}


textarea:focus, input:focus{
    outline: none;
}
.back_trigger{
    width: 34px;
    height: 39px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 999;
}
.back_trigger i{
  color: blueviolet;
}

.dropdown_menu{
    width: 150px;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(16,16,16,0.5);
    position: absolute;
    opacity: 0;
    right: 20px;
    top: 40px;
    z-index: 999;
}

.dropdown_item{
    width: 100%;
    font-family: 'Helvetica Neue Light';
    box-sizing: border-box;
    padding: 12px 20px;
    font-size: 22px;
    background-color: white;
}

.dropdown_item:hover{
    cursor: pointer;
    color : white;
    background-color: rgb(165,165,165);
}