*{
    margin:0;
}
.app {
    display: grid;
    place-items:center;
    height: 100vh;
    background-color: #dadbd3;
}
.app_body{
    display: flex;
    background-color: #ededed;
    margin-top: -50px;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75) ;
}
.ion {
    cursor :pointer;
    font-size: 30px;
    padding: 4px 3px;
}

.ion:hover {
    font-size: 32px;
    padding: 2px 3px;
    border-radius: 100%;
    opacity: 0.9;
}
.ion2:hover {
    font-size: 38px;
    padding: 1px;
    border-radius: 100%;
    opacity: 0.9;
}

.ion2 {
    cursor :pointer;
    font-size: 35px;
    padding: 0 ;
    margin: 0;
}


.ion3:hover {
    font-size: 35px;
    border-radius: 100%;
    opacity: 0.9;
    color: white;
}

.ion3 {
    cursor :pointer;
    font-size: 35px;
    padding: 0 ;
    margin: 0;
    color: white;
}