// `
//     <div class="ui-chat" data-id="{{ id }}">
//        <div class="ui-chat-body">
//             <div class="ui-chat-bodyLeft">
//                <div class="ui-chat-image">
//                 <img src="{{img}}"/>
//             </div>
//             </div>
//             <div class="ui-chat-bodyRight">
//                 <div class="ui-chat-name">{{ name }}</div>
//                 <div class="ui-chat-message">{{ message | raw }}</div>
//             </div>

//         </div>
//     </div>`

.ui-chat-container {  width: 280px; padding: 0 20px 0 0; }
.ui-chat-body { display: flex;align-items: center; justify-content: space-between; background-color: #fff; font-size: 12px; padding: 6px 6px 6px 5px; cursor: pointer; transition: 0.5s all; }
.ui-chat-image{ width: 40px;height: 40px;border: 0.5px solid grey; border-radius: 100%;overflow: hidden;}
.ui-chat-image > img {  width: 100%; height: 100%; cursor: pointer; }
.ui-chat-image > img:hover { color: #DB2724; }
.ui-chat-bodyLeft  { display: flex;flex:0.2;  align-items: center;justify-content: center;}
.ui-chat-bodyRight  { display: flex;flex:0.8; flex-direction: column; }
// .ui-chat-image { float: left; font-size: 11px; color: #AAB2BD; margin-right: 5px; }
.ui-chat-message { margin: 1px 0 0 10px; color: gray;}
.ui-chat-name {  font-size: 12px; color: #1f1d1d; margin-bottom: 4px; }
// .ui-chat-hide { opacity: 0; margin-top: -50px; }

@media(max-width: 767px) {
  .ui-chat-container { width: auto; left: 0; padding-left: 20px; }
}


.chat_message{display: flex;flex-direction: column;max-width: 50%;background: transparent;}
.chat_messageAuthor{font-size: 10px;font-weight: bold;}
.chat_messageBody{display: flex; flex-direction: column; flex:1;border: 1px solid #ededed; border-radius: 12px;padding: 10px;}
.chat_messageBody .chat_messageBodyMeta{ display: flex; width: 100%; justify-content: space-between;align-items: center;}
.chat_messageBody .chat_messageBodyMetaTimeStamp{ display: flex; flex: 1; font-size: xx-small; color: grey;}
.chat_messageBody .chat_messageBodyMetaStatus{display: flex; flex: 1; font-size: x-small;}