// `
//     <div class="ui-chat" data-id="{{ id }}">
//        <div class="ui-chat-body">
//             <div class="ui-chat-bodyLeft">
//                <div class="ui-chat-image">
//                 <img src="{{img}}"/>
//             </div>
//             </div>
//             <div class="ui-chat-bodyRight">
//                 <div class="ui-chat-name">{{ name }}</div>
//                 <div class="ui-chat-message">{{ message | raw }}</div>
//             </div>

//         </div>
//     </div>`

.ui-chat-container {  width: 280px; padding: 0 20px 0 0; }
.ui-chat-body { display: flex;align-items: center; justify-content: space-between; background-color: #fff; font-size: 12px; padding: 6px 6px 6px 5px; cursor: pointer; transition: 0.5s all; }
.ui-chat-image{ width: 40px;height: 40px;border: 0.5px solid grey; border-radius: 100%;overflow: hidden;}
.ui-chat-image > img {  width: 100%; height: 100%; cursor: pointer; }
.ui-chat-bodyLeft  { display: flex;flex:0.2;  align-items: center;justify-content: center;}
.ui-chat-bodyRight  { display: flex;flex:0.8; flex-direction: column; }
.ui-chat-message { margin: 1px 0 0 10px; color: gray;}
.ui-chat-name {  font-size: 12px; color: #1f1d1d; margin-bottom: 4px; }
@media(max-width: 767px) {
  .ui-chat-container { width: auto; left: 0; padding-left: 20px; }
}

//.chat_body{ flex: 1;background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');background-repeat: repeat;background-position: center;padding: 30px;overflow: scroll;}
.chat_body{ flex: 1;background-image: url('../backgrounds/bg.png');background-repeat: repeat;background-position: center;padding: 30px;overflow: scroll;}
.chat_message{position: relative;font-size:16px;padding: 10px;border-radius: 10px; background-color: #fff;margin-bottom: 30px;max-width:70%;}
.chat_messageAuthor{position:absolute;top:-15px;font-size: xx-small;font-weight: 800;}
.chat_messageBodyMetaTimeStamp{ margin-left:10px;font-size: xx-small; color: #e0e0e0;}
.chat_receiver{margin-left:auto;background-color: #dcf8c6;}


